.cart-header {
    padding: 20px 0;
}
.cart-item {
    padding: 20px 0;
    border-bottom: 1px solid #e9ecef;
}
.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
.quantity-controls button {
    background-color: transparent;
    border: 1px solid #e9ecef;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-icon {
    cursor: pointer;
}
.total___ {
    display: flex;
    justify-content: end;
    align-items: center;
}
.continue-shopping {
    display: flex;
    justify-content: end;
    
    
    font-family: 'Questrial', sans-serif !important;
    font-size: 18px;
    font-weight: lighter !important;
    letter-spacing: 0.5px;
}
.firstRow{
    display: flex;
}
.total-card {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    background-color: #f8f9fa;
    width: 35%;

}



.progress-bar {
    width: 95%;
    height: 6px;
    background-color: #ead8fa;
    border-radius: 15px;
  }
  
  .progress {
    background-color: #a86ee7;
  }

.checkout-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #A938FF;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-family: 'Questrial', sans-serif !important;
    
}

.btn-checkout:hover {
    
    background-color: #A938FF ;
    color: white;
}

.btn-checkout  {
    height: 50px;
    border-radius: 50px;
    background-color: #A938FF ;
    color: white;
    font-family: 'Questrial', sans-serif !important;
    font-size: small;
    letter-spacing: 1px;
    width: 104%;
    
}


.PRODUCT_headings{
    font-family: 'Questrial', sans-serif !important;
    color: #000000BF;
    opacity: .7;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: .13rem;
    line-height: calc(1 + .2 / var(--font-body-scale));
}
.ProductTitleInCart:hover{
    text-decoration: underline;
}
.ProductPrice{
    font-family: 'Questrial', sans-serif !important;
    color: #000000BF;
    opacity: 0.8;
    font-weight: lighter;
    font-size: 14px;
   
    
}



/* Quantity button */
.pill-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.2px solid black;
    border-radius: 50px;
    background-color: transparent;
    margin: 6px;
    
    padding-left: 5px;
    padding-right: 5px;
  
    height: 40px;
    width: 120px;
    
  }
  .pill-button span {
    flex: 1;
    text-align: center;
  }
   .btn_ {
    border: none !important;
    background: transparent !important;
    font-weight: lighter ;
    font-size: larger;
  }
  .ProductTotalPrice{
    font-family: 'Questrial', sans-serif !important;
    color: #000000BF;
    opacity: 1;
    font-weight: lighter;
    font-size: 14px;
    /* font-size: 1.2rem; */
    letter-spacing: 0.5px;
    line-height: calc(1 + .5 / var(--font-body-scale));
    color: rgb(var(--color-foreground));
  }
  .pill_buttonAndDelICon{
    display: flex;
    justify-content: end;
    align-items:center ;
  }
@media (max-width:769px) {
    .inSmallScreensTitleAndOrice{
        margin-inline-start: 10px !important;
    }
    .QuatityinSmallScreen{
        text-align: start !important;
    }
    .delete-icon{
        margin-inline-start: 0px !important;
    }
 
   .ProductTotalPrice{
        margin-block-start: 8px !important;
    }
    
}

@media (max-width:980px) {

    .totalCardRow{
        justify-content: center !important;
    }
    .total-card{
        width: max-content !important;
    }
    .totalEstCard{
        text-align: start !important;
       
    }
    .totalEstCardPrice
    {
        text-align: end !important;
    }

}

.totalCardRow{
    display: flex;
    justify-content: end;
    background: #EFF0F5;
}
.totalCardRow .total-card{
    background: #EFF0F5;

}
.cart_icon_counter__{
    position: absolute;
    top: 14px;
    right: 3px;
    background: rgb(169, 56, 255);
    color: white;
    border-radius: 100px;
    /* padding: 1px 5px; */
    padding: 2px 4px 2px 4px;
    font-size: 8px;
    display: none;
}